
.def {
  padding: .75em .5em .75em 1em;
  background: aliceblue;
  border-left: 0.5em solid lightslategray;
  font-size: 18px;
}

.def::before {
  display: block;
  height: 0;
  content: "def"; /**/
  margin-left: -2.5em; /*-.95em*/
  font: italic 200%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: gray;
}

.prop {
  padding: .75em .5em .75em 1em;
  background: Seashell;
  border-left: 0.5em solid IndianRed;
  font-size: 18px;
}

.prop::before {
  display: block;
  height: 0;
  content: "prop"; /**/
  margin-left: -3em; /*-.95em*/
  font: italic 200%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: gray;
}

.thm {
  padding: .75em .5em .75em 1em;
  background: MistyRose;
  border-left: 0.5em solid Maroon;
  font-size: 18px;
}

.thm::before {
  display: block;
  height: 0;
  content: "thm"; /**/
  margin-left: -3em; /*-.95em*/
  font: italic 200%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: gray;
}

.lem {
  padding: .75em .5em .75em 1em;
  background: LavenderBlush;
  border-left: 0.5em solid Maroon;
  font-size: 18px;
}

.lem::before {
  display: block;
  height: 0;
  content: "lem"; /**/
  margin-left: -3em; /*-.95em*/
  font: italic 200%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: gray;
}

/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
}
p {
  font-size: 18px;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
.math {
  font-size: 16px;
  font-family: "Computer Modern", sans-serif;
  font-style: italic;
}

.math.inline {
  height: 100%;
  width:auto;
}
.math.center {
  height: auto;
  display: table;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.sourceCode .r pre {
  border-radius: 5px;
  border: 2px solid gray;
}

.btn {
  color: black;
  background: aliceblue;
  border: 2px solid lightslategray;
  transition-duration: 0.25s;
  border-radius: 5px;
}

.btn:hover {
  background-color: lightslategray;
  border: 2px solid lightslategray;
  color: white;
}

details {
  background: floralwhite;
  border-left: 0.5em solid burlywood;
  padding: .5em .5em .5em 1em;
}
details > summary {
  cursor: pointer;
}

.main-container {
  padding-bottom: 150px; /*footer height*/
}

ul {
  font-size: 18px;
}

ol {
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

iframe {
  width: 100%;
  height: 800px;
}
.dark-mode {
  background-color: rgb(40,40,40);
  color: white;
}
.dark-mode blockquote {
  color: black;
}
.dark-mode .def {
  color: black;
  background: LightSteelBlue;
}
.dark-mode .prop {
  color: black;
  background:#ECD9D9;
}
.dark-mode .lem {
  color: black;
  background:#ECD9D9;
}
.dark-mode .thm {
  color: black;
  background: #CBB2B1;
}
.dark-mode summary {
  color: black;
  background: #DAD6CB;
}
.dark-mode details {
  color: black;
  background: #DAD6CB;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
